:root {
    --color-white: #fff;
    --color-blue: #01456c;
    --color-red: #fe1e12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Abel', Arial, Tahoma, sans-serif;
    max-width: 1450px;
    margin: auto;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--color-blue);
    padding: 1rem;
}

.contato {
    width: 100%;
    background-color: var(--color-red);
}

.menu{
    list-style: none;
    display: flex;
    gap: 1.0rem;
}

.menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.menu a:hover {
    background-color: var(--color-red);
}

.teste {
    display: none;
    background-color: orange;
}