#chegada {
  margin-bottom: 2%;
  background-color: #fe1e12;
  color: #fff;
  padding: 1%;
  font-weight: bold;
  line-height: 2.2rem;
  box-shadow: 5px 5px 5px rgba(1, 69, 108, 0.781);
  border-radius: 20PX;
}

#itnerario {
  display: flex;
  gap: 1%;
}

table {
  width: 50%;
  border-collapse: collapse;
  font-size: 1rem;
}

caption {
  font-size: 1.5rem;
  padding: 8px;
  font-weight: bolder;
}

td,th {
  border: 2px solid #01456c;
  text-align: left;
  padding: 5px 5px;
}