:root {
    --color-white: #fff;
    --color-blue: #01456c;
    --color-red: #fe1e12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Abel', Arial, Tahoma, sans-serif;
    margin: auto;
    background-color: var(--color-red);
    font-size: 1.2rem;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

header {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding-bottom: 1.5rem;
}

.contato {
    background-color: var(--color-white);
    text-align: center;
    color: var(--color-blue);
    font-weight: 600;
    padding: 0.5rem;
}

.nav-bar {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 1%;
}

.logo {
    box-sizing: border-box;
    padding: 1rem;
    flex-grow: 1;
}

.logo h1 img{
    box-sizing: border-box;
}

.empresa {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    flex-grow: 2;
}

.menu {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item a {
    padding: 1rem;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: var(--color-red);
}

main {
    width: 90vw;
    margin: auto;
    padding: 1.5rem;
    background-color: var(--color-white);
}

article h2 {
    padding: 1.5rem;
    text-align: center;
}

article p {
    text-align: justify;
    margin-bottom: 2rem;
    text-indent: 2rem;
    line-height: 1.8rem;
}

.destino {
    padding: .5rem 2rem;
}

.destino li {
    padding: .2rem;
}

/* * CONFIGURACAO DO FOOTER */

footer {
    width: 100%;
    background-color: var(--color-blue);
    z-index: 1;
}

.rodape {
    width: 90vw;
    margin: auto;
    padding: 1.2rem;
    color: whitesmoke;
}

@media (max-width: 1150px) {
    .empresa {
        font-size: 0.9rem;
    }
}

@media (max-width: 950px) {
    .nav-bar {
        justify-content: center;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .empresa {
        width: 100%;
        font-size: 0.7rem;
        text-align: center;
    }

    main {
        width: 90vw;
    }

    article h2 {
        font-size: 1.2rem;
    }
}