:root {
    --color-white: #fff;
    --color-blue: #01456c;
    --color-red: #fe1e12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Abel', Arial, Tahoma, sans-serif;
    margin: auto;
    background-color: var(--color-red);
    font-size: 1.2rem;
    padding-bottom: 5vh;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

.negrito {
    font-weight: bold;
    font-style: italic;
}

.pdlef {
    padding-left: 10%;
}

header {
    width: 95vw;
    margin: auto;
}

.header {
    width: 95vw;
    margin: auto;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding-bottom: 1.5rem;
}

.contato {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    /* background-color: var(--color-white); */
    text-align: center;
    color: var(--color-blue);
    font-weight: 600;
    padding: 0.1rem;
}

#telefone {
    font-size: 1.5rem;
}

#redes_sociais {
    text-align: right;
    padding: 0.2rem;
}

#redes_sociais img {
    width: 25px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

#redes_sociais img:hover {
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.nav-bar {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 1%;
}

.logo {
    box-sizing: border-box;
    padding: 1rem;
    flex-grow: 1;
}

.logo h1 img{
    box-sizing: border-box;
}

.empresa {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    flex-grow: 2;
}

/* ! MENU */

#burguer {
    color: var(--color-white);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

#navList {
    display: block;
}

#menu {
    width: 90vw;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item a {
    display: block;
    padding: 1rem;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: var(--color-red);
}

main {
    width: 95vw;
    margin: auto;
    padding: 1rem;
    text-align: justify;
    background-color: var(--color-white);
}

article h2 {
    padding: 1.5rem;
    text-align: center;
}

article p {
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.5rem;
}

.destino {
    padding: .5rem 2rem;
}

/* * CONFIGURACAO DAS FOTOS LINHAS */

.destino {
    width: 100%;
    text-align: center;
    padding: 1%;
    margin: 2% 0;
    font-size: 1.5rem;
    border-top: 2px solid rgba(0, 0, 0, 0.664);
    border-bottom: 2px solid rgba(0, 0, 0, 0.664);
}

#gallery_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1%;
}

.gallery-itens {
    width: 250px;
    border: 10px solid rgba(1, 69, 108, 0.067);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
}

.gallery-itens img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 8%;
}

#descricao {
    padding-left: 5%;
    color: var(--color-blue);
    line-height: 1.6rem;
}

/* * CONFIGURACAO DO FOOTER */

footer {
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin-top: 12rem;
    background-color: var(--color-blue);
}

.rodape {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.2rem;
    color: whitesmoke;
}

.dados {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.dados li {
    padding: 0.2rem;
}

.material-symbols-outlined {
    font-size: 1rem;
}

.elemento_dados {
    align-items: center;
    padding: 0.2rem;
}

.redes_sociais {
    flex-direction: column;
}

.redes_sociais img {
    width: 20px;
    font-size: .5rem;   
}

@media (max-width: 1150px) {
    .empresa {
        font-size: 0.9rem;
    }
}

@media (max-width: 950px) {
    .header {
        width: 90vw;
        margin: auto;
    }
    #burguer {
        display: block;
    }

    .nav-bar {
        justify-content: center;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .empresa {
        width: 100%;
        font-size: 0.7rem;
        text-align: center;
    }

    #navList {
        display: none;
        position: relative;
    }

    .menu {
        position: absolute;
        top:  0;
        right: 0;
        width: 90vw;
        height: 40vh;
        background-color: var(--color-blue);
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }
    
    .nav-item {
        border-bottom: 2px solid rgba(0, 115, 182, 0.336);
    }
    .nav-item a {
        display: block;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article h2 {
        font-size: 1.2rem;
    }
}