* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, p {
    margin-left: 5%;
}

.busca {
    width: 100%;
    background: #eee;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

input {
    width: 90%;
    height: 50px;
    padding-left: 20px;
    font-size: 25px;
    border: 1px solid #ddd;
    margin: 15px;
    border-radius: 5px;
}

#listaProdutos {
    list-style: none;
    display: block;
    width: 91%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 68px;
}

#listaProdutos li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
    border: 1px solid #ddd;
    background: #f6f6f6;
}

#listaProdutos li a:hover {
    background: #eee;
}

.item-name {
    margin-left: 15px;
}