* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #232323;
    color: #cdcdcd;
}

.buscar-box {
    position: relative;
    background-color: aquamarine;
    width: 80px;
    height: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

.buscar-box.ativar {
    width: 400px;
}

.lupa-buscar, .btn-fechar {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lupa-buscar i {
    font-size: 1.5rem;
}

.input-buscar {
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 80px;
}

.input-buscar input {
    border: 0;
    outline: 0;
    font-size: 1.3rem;
}

.btn-fechar i {
    font-size: 1.3rem;
    margin-left: 1rem;
}